/*------------
          google font
         --------------  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.top-banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #161616;
    padding-top: 33px;
    padding-left: 106px;
    padding-right: 79px;
    border-radius: 30px;
    align-items: center;
    justify-items: center;
    width: 70%;
    margin: 50px auto;

}

#text {
    display: flex;
    flex-direction: column;
    width: 30em;
    padding-top: 20px;
    margin-right: 10em;
}

.top-banner h1 {
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    margin: 0;
}


.top-banner h1,
p {
    color: #FFFFFF;

}

#text p,
#button-text {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

#player-image img {
    width: 30em;
}

#live-button {
    background-color: #DD0000;
    border-radius: 5px;
    width: 187px;
    height: 56px;
}




/* -------------
         media queries
         ---------------- */

/* mobile devices */
@media only screen and (max-width:688px) {
    .top-banner {
        /* grid-template-columns: repeat(1, 1fr); */
        /* justify-content: center; */
        align-items: center;
        width: 97%;
        height: 100%;
    }

    .top-banner h1 {

        font-size: 20px;
        line-height: 80px;
        margin: 0;
    }
}