/*------------
          google font
         --------------  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: 'Poppins', sans-serif;


}

.top-banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #161616;
    /* padding-top: 33px; */
    /* padding-left: 106px;
    padding-right: 79px; */
    border-radius: 30px;
    align-items: center;
    justify-items: center;
    width: 95em;
    margin: 50px auto;
    padding: 33px 0px 0 3em;


}

#text {
    display: flex;
    flex-direction: column;
    /* width: 30em; */
    padding-top: 20px;
    /* margin-right: 10em; */
}

.top-banner h1 {
    font-weight: 700;
    font-size: 4em;
    line-height: 80px;
    margin: 0;
}


.top-banner h1,
p {
    color: #FFFFFF;

}

#text p,
#button-text {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

#player-image img {
    width: 30em;
}

#live-button {
    background-color: #DD0000;
    border-radius: 5px;
    width: 187px;
    height: 56px;
}




/* -------------
         media queries
         ---------------- */

/* mobile devices */
@media only screen and (max-width:688px) {
    .top-banner {
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        width: 90%;
        height: 100%;
        padding: 0 10px;
        margin: 10px auto;

    }

    .top-banner h1 {

        font-size: 30px;
        line-height: 1.5em;
        margin: 0;
    }

    #text {
        width: 20em;
        padding-top: 20px;
        margin: 0;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #player-image img {
        width: 90%;

    }
}

/* tablet devices */

@media only screen and (min-width:688px) and (max-width:992px) {
    .top-banner {

        width: 90%;



    }

    #player-image img {
        width: 18em;
        padding-left: 25px;
    }
}